<div class="comic" *ngIf="!comic">
    <h1>Loading...</h1>
</div>
<div class="comic" *ngIf="comic">
    <h1> [{{comic.num}}] {{ comic.title }} </h1>
    <div class="img">
        <img *ngIf="comic.img" [src]="comic.img" [alt]="comic.alt" />
    </div>
    <div>
        <p class="alt">{{comic.alt}}</p>
    </div>
    <div class="actions">
            <button (click)="today()">Today</button>
            <button (click)="random()">Random</button>
            <input type="number" #comicnum [value]="comic.num" (keyup.enter)="byId(comicnum.value)" placeholder="comic id" />
            <button (click)="byId(comicId)">By ID</button>
    </div>
</div>